.content-program{
  flex-direction: column;
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.program-card-img{
  width: 100%;
  display: none;
  
}
.head-box>div{
  padding: 12px 14px;
  margin: 5px;
}

.program-card-content{
  width: 100%;
  padding: 20px;
 text-align: justify;
 


}
.namaste img{
  width: 100px;
}
/* ALL STATES ICONS */
.icon{
  width: 50px;
  margin: 3px;
}
/* VEHICLE ICONS */
.vehicle-icon{
  width: 30px;
  margin: 3px;
}
/* ARROW BETWEEN ICONS */
.arrow{
  width: 150px;
  margin: 5px;
}
/* ARROW  */
.arrow-straight{
  width: 40px;
  margin: 5px;

}
.schedule{
  display: block;
  margin: auto;
  width: 95%;
  }